:root{
  --shadow-md:0px 20px 60px rgba(0, 0, 0, 0.4)
}

.comment{
  position: absolute;
  padding: 10px;
  border-radius: 0px 5px 5px 5px;
  background-color: white;
  box-shadow: var(--shadow-md);
  z-index: 21;

  &:hover{
    z-index: 999;
  }

  .head{
    display: flex;
    justify-content: space-between;
  }
}

.toolbar{
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: max-content;
  display: flex;
  gap: 2px;
  z-index: 999;
  background-color: white;
  box-shadow: var(--shadow-md);
  padding: 15px;
  border-radius: 5px;
}